<ion-view view-title="Chats">
  <ion-content ng-controller="ChatsCtrl">
    <img ng-show="imgURI !== undefined" ng-src="{{image}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <!-- <button class="button" ng-click="captureVideo()">Take Picture</button> -->
    <button id="takeVideo">Take Video</button>
		<div id="videoArea"></div>
    <p>hi</p>
    <form ng-submit="$ctrl.testPost()">
    <p>
        Category: <input ng-model="$ctrl.updateCategory" id="edit-category">
    </p>
    <p> Amount: <input ng-model="$ctrl.updateAmount" value="" id="edit-amount">
    </p>

    <p>
        <button type="submit">test post</button>
    </p>

</form>
<p ng-click="$ctrl.testPost()">hi</p>
  </ion-content>
</ion-view>
